@theme {
  --color-primary: #f15e50;
  --color-secondary: #e9ab53;
  --color-light: #fffdfa;
  --color-dark: #00001a;
  --color-neutral-primary: #c5c6ce;
  --color-neutral-secondary: #5e607a;
  --default-font-family: Inter, sans-serif;
  --breakpoint-sm: 36rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 62rem;
  --breakpoint-xl: 75rem;
  --breakpoint-2xl: initial;
  --container-sm: 540px;
  --container-md: 720px;
  --container-lg: 960px;
  --container-xl: calc(1110px + var(--container-padding));
  --container-padding: 16px;
  --text-heading-1: 3.5rem;
  --text-heading-2: 2.5rem;
  --text-heading-3: 2rem;
  --text-heading-4: 1.125rem;
  --text-sm: 0.875rem;
  --text-base: calc(15 / 16 * 1rem);
}
