@utility container {
  margin-inline: auto;
  padding-inline: var(--container-padding);
  @variant sm {
    max-width: 540px;
  }

  @variant md {
    max-width: 720px;
  }

  @variant lg {
    max-width: 960px;
  }

  @variant xl {
    max-width: calc(1110px + var(--container-padding) * 2);
  }
}

@utility nav-btn-open {
  &[aria-expanded="true"] + .nav-list {
    @apply translate-x-0;
  }
}

@utility overlay {
  @apply fixed inset-0 bg-black opacity-50;
}
