@font-face {
  font-family: 'Young Serif';
  src: url('/src/assets/fonts/young-serif/woff2/YoungSerif-Regular.woff2')
    format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  src: url('/src/assets/fonts/outfit/woff2/Outfit-Regular.woff2')
    format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  src: url('/src/assets/fonts/outfit/woff2/Outfit-SemiBold.woff2')
    format('woff2');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  src: url('/src/assets/fonts/outfit/woff2/Outfit-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}
