@use 'sass:map';
@use 'functions';

$factor: 0.25rem !default;
$sizes-list: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 24;
$sizes: () !default;

@each $size in $sizes-list {
  $sizes: map.merge(
    $sizes,
    (
      $size: $factor * $size,
    )
  );
}

/*
  the @each loop above will generate
  $sizes: (
    1: 0.25rem
    2: 0.5rem,
    3: 0.75rem,
    4: 1rem,
    ...
  )

*/

$spacers-prefix: 'sc-';
$spacers: (
  'default': (
    size-preset-primary: 24px,
  ),
  'md': (
    size-preset-primary: 40px,
  ),
);

$size-preset-primary: var(--sc-size-preset-primary);
