@use 'functions' as *;

$font-family-base: 'Inter', sans-serif;
// $font-family-accent: $-ff-serif;

$fw-400: 400;
$fw-600: 600;
$fw-700: 700;

$font-sizes: (
  'default': (
    'text-preset-content': px-to-rem(14),
    'text-preset-heading': px-to-rem(24),
  ),
);
$text-preset-content: var(--fs-text-preset-content);
$text-preset-heading: var(--fs-text-preset-heading);
