extends includes/header.pug

block titleHook
  title Home

block contentHook
  header.position-relative.z-3.bg-white
    nav.navbar.navbar-js
      a(href='/')
        picture
          img(src='@images/shared/desktop/logo-dark.png' width="202" height="27" alt="Company logo")  

      button.navbar__toggler(aria-label="Toggle navigation" aria-expanded="false" aria-controls="collapse")
        <svg aria-hidden="true" id="hamburger" width="24" height="20" xmlns="http://www.w3.org/2000/svg"><g fill="#1D1C1E" fill-rule="evenodd"><path d="M0 0h24v4H0zM0 8h24v4H0zM0 16h24v4H0z"/></g></svg>
        <svg aria-hidden="true" id="close" width="20" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M17.071.1L19.9 2.93l-7.071 7.07 7.071 7.072-2.828 2.828L10 12.828l-7.071 7.071L.1 17.071 7.17 10 .102 2.929 2.929.1l7.07 7.07 7.072-7.07z" fill="#1D1C1E" fill-rule="evenodd"/></svg>

      div#collapse.navbar__collapse(data-state="collapsed")
        ul.navbar__menu-list
          li 
            a.navbar__link(href="/about-us") Our company
          li 
            a.navbar__link(href="/locations") Locations 
          li 
            a.navbar__link(href="/contact") Contact 
  
  a(href="#") click me
          

