extends includes/main-layout.pug

block titleHook
  title Home

block contentHook
  section.pb-30.pb-xl-40.bg-xl-leaf 
    .container.d-flex.flex-column.row-gap-20.col-gap-8.flex-xl-row 
      .image-text-block 
        div.image-text-block__img-container.image-text-block__img-container--270deg
          img(src="@images/home/desktop/illustration-passionate.svg", alt="illustration")
        div.image-text-block__content
          h3.image-text-block__heading Passionate
          p.image-text-block__paragraph Each project starts with an in-depth brand research to ensure we only create products that serve a purpose. We merge art, design, and technology into exciting new solutions.
          .image-text-block 
      .image-text-block
        div.image-text-block__img-container.image-text-block__img-container--180deg
          img(src="@images/home/desktop/illustration-resourceful.svg", alt="illustration")
        div.image-text-block__content
          h3.image-text-block__heading Resourceful
          p.image-text-block__paragraph Everything that we do has a strategic purpose. We use an agile approach in all of our projects and value customer collaboration. It guarantees superior results that fulfill our clients’ needs.

      .image-text-block
        div.image-text-block__img-container.image-text-block__img-container--180deg
          img(src="@images/home/desktop/illustration-friendly.svg", alt="illustration")
        div.image-text-block__content
          h3.image-text-block__heading Friendly
          p.image-text-block__paragraph  We are a group of enthusiastic folks who know how to put people first. Our success depends on our customers, and we strive to give them the best experience a company can provide.



          


