doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel="icon" href="@images/favicon-32x32.png" type="image/png")
    link(rel="preload" href="@fonts/Jost-Regular.woff2" as="font" type="font/woff2" crossorigin )
    link(rel="preload" href="@fonts/Jost-Medium.woff2" as="font" type="font/woff2" crossorigin )
    block cssHook
      link(href='@styles/style.scss' rel='stylesheet')
    block scriptHook 
      script(src='@scripts/index.js' defer='defer')
    block titleHook
      title Document
  body 
    block contentHook