@use '../abstract/functions' as *;
@use '../abstract/mixins' as *;
@use '../abstract/variables' as *;

.card {
  min-height: px-to-rem(522);
  max-width: px-to-rem(384);
  background-color: $clr-white;
  border-radius: 20px;
  border: 1px solid $clr-black;
  padding: 24px;
  box-shadow: 8px 8px 0 rgb(0, 0, 0);
  transition: box-shadow 0.2s;

  &:has(.card__headline-main:hover) {
    box-shadow: 16px 16px 0 rgb(0, 0, 0);
  }

  & > *:not(:last-child) {
    margin-bottom: 24px;
  }

  &__wrapper-content {
    display: grid;
    row-gap: 12px;
  }

  &__image {
    border-radius: 10px;
    height: px-to-rem(200);
  }

  &__tag {
    display: inline-block;
    background-color: $clr-primary;
    padding: 4px 12px;
    border-radius: 4px;
    font-weight: 800;
    font-size: px-to-rem(12);

    @include media(sm) {
      font-size: px-to-rem(14);
    }
  }

  &__published-date {
    font-size: px-to-rem(14);
    display: inline-block;
    font-weight: 500;
  }

  &__headline-main {
    transition: color 0.5s;
    font-size: px-to-rem(20);
    display: inline-block;

    @include media(sm) {
      font-size: px-to-rem(24);
    }
  }

  &__headline-main:hover {
    color: $clr-primary;
    cursor: pointer;
  }

  &__text {
    color: $clr-neutral;
    font-weight: 500;
    font-size: px-to-rem(14);
    @include media(sm) {
      font-size: px-to-rem(16);
    }
  }

  &__wrapper-author {
    display: flex;
    align-items: center;
    column-gap: 12px;
  }

  &__author-name {
    font-weight: 800;
    font-size: px-to-rem(14);
  }

  &__author-image {
    width: 32px;
    height: 32px;
    object-fit: cover;
  }
}
