@charset "UTF-8";
@font-face {
  font-family: 'Fraunces';
  font-weight: 700;
  font-display: swap;
  src: url('/src/fonts/Fraunces-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-display: swap;
  src: url('/src/fonts/Montserrat-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  font-display: swap;
  src: url('/src/fonts/Montserrat-Medium.woff2') format('woff2');
}
