@use 'functions' as *;

$font-size-prefix: fs-;
$font-sizes: (
  'default': (
    'fs-nav': px-to-rem(24),
  ),
  'md': (
    'fs-nav': px-to-rem(14),
  ),
);

$font-size-clamp: (
  heading-1: (
    375: 16,
    1400: 128,
  ),
);

$font-family-base: 'Jost', sans-serif;
$font-family-accent: serif;

$fw-regular: 400;
$fw-medium: 500;

$fs-nav: var(--fs-nav);
