@use 'functions' as *;

$font-family-base: 'Jost', sans-serif;
$font-family-accent: serif;

$font-weight: (
  'regular': 400,
  'medium': 500,
);

$fw-regular: 400;
$fw-medium: 500;

$font-sizes: (
  'default': (
    'fs-res-nav': px-to-rem(24),
  ),
  'md': (
    'fs-res-nav': px-to-rem(14),
  ),
);

$font-size-clamp: (
  heading-1: (
    375: 16,
    1400: 128,
  ),
);

$fs-res-nav: var(--fs-res-nav);
