@use 'sass:map';
@use 'functions';

$factor: 0.25rem;
$sizes-list: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
  19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 40;
$sizes: ();

/*
  the @each loop will generate:
  $sizes: (
    1: 0.25rem
    2: 0.5rem,
    3: 0.75rem,
    4: 1rem,
    ...
  )
*/

@each $size in $sizes-list {
  $sizes: map.merge(
    $sizes,
    (
      $size: $factor * $size,
    )
  );
}

$spacers: (
  'default': (
    sc-navbar-y: 34px,
    sc-navbar-x: 24px,
    sc-collapse-p: 48px 24px,
    sc-res-footer-py: 253px 64px,
  ),
  'md': (
    sc-navbar-y: 64px,
    sc-navbar-x: 40px,
    sc-collapse-p: 0,
    sc-res-footer-py: 166px 80px,
  ),
  'xl': (
    sc-res-footer-py: 144px 72px,
  ),
);

$spacer-clamp: (
  card-font: (
    375: 16,
    768: 48,
  ),
);

$sc-navbar-y: var(--sc-navbar-y);
$sc-navbar-x: var(--sc-navbar-x);
$sc-collapse-p: var(--sc-collapse-p);
$sc-res-footer-py: var(--sc-res-footer-py);
