@use 'colors' as *;
@use 'fonts' as *;
@use 'functions' as *;
@use 'spacing' as *;
@use 'container-width' as *;
@use 'breakpoints' as *;

@use 'sass:map';

// general
$active-theme: map.get($color-theme, default);
$enable-media-query-dark-mode: false;
$enable-container-classes: true;
$enable-bootstrap-grid-system: true;
$prefix: '';

// bootstrap grid container
$grid-columns: 12;
$grid-gutter-width: 1.5rem;
$grid-row-columns: 6;
$bs-prefix: bs-;

// grid setting
$grid-gutter-width: 16px !default;
$grid-even-col-gap: $grid-gutter-width !default;
$grid-even-row-gap: $grid-gutter-width !default;

// container setting
$enable-container-classes: true;
$container-padding-x: 12px;

// body
$body-font-family: $font-family-base;
$body-font-size: px-to-rem(16);
$body-line-height: 1.625;
$body-font-weight: $fw-regular;
$body-text-color: null;
$body-background-color: null;
$body-min-height: null;

//navbar
$navbar-expand-bp: 'md'; // defined breakpoints in abstracts/_breakpoints.scss.
$navbar-max-width: map.get($container-max-widths, 'xl');
$navbar-px: $sc-navbar-x;
$navbar-py: $sc-navbar-y;

$navbar-col-gap: px-to-rem(42);
$navbar-alignment: end;

$navbar-fs: $fs-nav;
$navbar-clr: $clr-white;
$navbar-expanded-clr: $clr-secondary-dark;
$navbar-text-tf: uppercase;
$navbar-letter-sp: 2px;
// $navbar-line-h: 1;

$navbar-menu-p: $sc-collapse-p;
$navbar-menu-row-g: 32px;
