@use 'functions' as *;
@use 'sizes' as *;
@use 'colors' as *;
@use 'fonts' as *;
@use 'variables' as *;
@use 'sass:map';

// Utilities

$line-height-sizes: (
  '1': 1,
  '1-2': 1.2,
  '1-5': 1.5,
  '2': 2,
);
// position values
$position-values: (
  0: 0,
  50: 50%,
  100: 100%,
);

// - z-index values
$zindex-levels: (
  n1: -1,
  0: 0,
  1: 1,
  2: 2,
  3: 3,
);

/* 
  MAIN UTILITIES MAP
  syntax of a utility class: $class-$value, 
  syntax of a utility class with responsivness; $class-$breakpoint-$value

  example 1: 
  class: z,
  property: z-index,
  values: (
    1: 1, 
    2: 2, 
    3: 3, 
    4: 4
  )
  isResponsive: true,
  output: .z-1, .z-2, .z-3, .z-4;
  output responsive: .z-sm-1, z-md-1, z-lg-1 etc.

  example 2:
  class: d,
  property: display,
  values: grid
  output: .d


  example 3:
  class: justify,
  property: justify-content,
  value: (
    between: space-between,
    even: space-evenly,
  )

  output: 
  .justify-content-between
  .justify-content-even

*/

$utilities: () !default;
$utilities: map-merge(
  (
    'box-sizing': (
      property: box-sizing,
      class: box,
      values: (
        content: content-box,
        border: border-box,
      ),
    ),
    'height': (
      property: height,
      class: h,
      values: (
        auto: auto,
        200: 200px,
      ),
      isResponsive: true,
    ),
    'border-radius': (
      property: border-radius,
      class: border-radius,
      values: (
        15: 15px,
      ),
    ),
    'z-index': (
      property: z-index,
      class: z,
      values: $zindex-levels,
    ),
    'position': (
      property: position,
      class: position,
      values: (
        absolute: absolute,
        relative: relative,
        static: static,
      ),
    ),
    'border-top': (
      property: border-top,
      values: (
        solid: 1px solid #979797,
      ),
    ),
    'margin-top': (
      property: margin-top,
      class: mt,
      values: $sizes,
    ),
    'margin-bot': (
      property: margin-bottom,
      class: mb,
      values: $sizes,
    ),
    'margin-left': (
      property: margin-left,
      class: ms,
      values:
        map-merge(
          $sizes,
          (
            auto: auto,
          )
        ),
    ),
    'margin-right': (
      property: margin-right,
      class: me,
      values: $sizes,
    ),
    'margin-inline': (
      property: margin-inline,
      class: mx,
      values:
        map-merge(
          $sizes,
          (
            auto: auto,
          )
        ),
    ),
    'margin-block': (
      property: margin-block,
      class: my,
      values: $sizes,
    ),
    'padding-top': (
      property: padding-top,
      class: pt,
      values: $sizes,
    ),
    'padding-bottom': (
      property: padding-bottom,
      class: pb,
      values: $sizes,
    ),
    'padding-left': (
      property: padding-left,
      class: ps,
      values: $sizes,
    ),
    'padding-right': (
      property: padding-right,
      class: pe,
      values: $sizes,
    ),
    'padding-block': (
      property: padding-block,
      class: py,
      values: $sizes,
    ),
    'padding-inline': (
      property: padding-inline,
      class: px,
      values: $sizes,
      isResponsive: true,
    ),
    'display': (
      property: display,
      class: d,
      values: (
        flex: flex,
        grid: grid,
        none: none,
        block: block,
        inline-block: inline-block,
        inline: inline,
        contents: contents,
      ),
      isResponsive: true,
    ),
    'flex-direction': (
      property: flex-direction,
      class: flex,
      values: (
        column: column,
        row: row,
      ),
      isResponsive: true,
    ),
    'place-items': (
      property: place-items,
      class: place-items,
      values: center,
    ),

    'justify-content': (
      isResponsive: true,
      property: justify-content,
      values: (
        start: flex-start,
        end: flex-end,
        center: center,
        between: space-between,
        around: space-around,
        evenly: space-evenly,
      ),
    ),
    'align-items': (
      isResponsive: true,
      property: align-items,
      values: (
        start: flex-start,
        end: flex-end,
        center: center,
        between: space-between,
        around: space-around,
        evenly: space-evenly,
      ),
    ),
    'flex-grow': (
      property: flex-grow,
      class: flex-grow,
      values: (
        1: 1,
        2: 2,
        3: 3,
      ),
    ),
    'gap': (
      property: gap,
      class: gap,
      values: $sizes,
    ),
    'row-gap': (
      property: row-gap,
      class: row-gap,
      values: $sizes,
      isResponsive: true,
    ),
    'col-gap': (
      property: column-gap,
      class: col-gap,
      values: $sizes,
    ),
    'line-height': (
      property: line-height,
      class: lh,
      values: $line-height-sizes,
    ),
    'text-align': (
      property: text-align,
      class: text,
      values: (
        center: center,
        start: left,
        end: right,
      ),
    ),
    'font-size': (
      property: font-size,
      class: fs,
      values: $sizes,
      isResponsive: true,
    ),
    'font-size-i': (
      property: font-size,
      class: fs-i,
      values: $sizes-irregular,
    ),
    'letter-spacing': (
      property: letter-spacing,
      class: letter-spacing,
      values: (
        2: 2px,
        5: 5px,
      ),
    ),
    'text-transform': (
      property: text-transform,
      class: text,
      values: (
        uppercase: uppercase,
      ),
    ),
    'font-weight': (
      property: font-weight,
      class: fw,
      values: $font-weight,
    ),
    'cursor': (
      property: cursor,
      class: cursor,
      values: (
        pointer: pointer,
      ),
    ),
    'text-decoration': (
      property: text-decoration,
      class: decoration,
      values: (
        none: none,
      ),
    ),
    'overflow': (
      property: overflow,
      class: overflow,
      values: (
        hidden: hidden,
      ),
    ),
    'opacity': (
      property: opacity,
      class: opacity,
      values: (
        1: 10%,
        2: 20%,
        3: 30%,
        4: 40%,
        5: 50%,
        6: 60%,
        7: 70%,
        8: 80%,
        9: 90%,
        10: 100%,
      ),
    ),
    /* The background-colors and text-colors keys must remain unchanged. */
      'background-colors':
      (
        property: background-color,
        class: bg,
        values: $active-theme,
      ),
    'text-colors': (
      property: color,
      class: text,
      values: $active-theme,
    ),
  ),
  $utilities
);
