@use 'colors' as *;
@use 'fonts' as *;
@use 'functions' as *;
@use 'spacing' as *;
@use 'container-width' as *;
@use 'breakpoints' as *;
@use 'sass:map';

// general
$active-theme: map.get($color-theme, default);
$enable-media-query-dark-mode: false;
$enable-container-classes: true;
$enable-bootstrap-grid-system: true;
$focus-ring: 2px dashed $clr-primary;
$focus-ring-offset: 1px;
$prefix: '';

// bootstrap grid container
$grid-columns: 12;
$grid-gutter-width: 1.5rem;
$grid-row-columns: 6;
$bs-prefix: bs-;

// grid setting
$grid-gutter-width: 16px !default;
$grid-even-col-gap: $grid-gutter-width !default;
$grid-even-row-gap: $grid-gutter-width !default;

// container setting
$enable-container-classes: true;
$container-padding-x: 12px;

// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.

// scss-docs-start zindex-stack
$zindex-dropdown: 1000 !default;
$zindex-sticky: 1020 !default;
$zindex-fixed: 1030 !default;
$zindex-offcanvas-backdrop: 1040 !default;
$zindex-offcanvas: 1045 !default;
$zindex-modal-backdrop: 1050 !default;
$zindex-modal: 1055 !default;
$zindex-popover: 1070 !default;
$zindex-tooltip: 1080 !default;
$zindex-toast: 1090 !default;
// scss-docs-end zindex-stack
