@use '../abstracts' as *;
@include mq(xl) {
  .bg-xl-leaf {
    background-image: url('@images/shared/desktop/bg-pattern-leaf-2.svg');
    background-repeat: no-repeat;
    background-position: 100% -200%;
  }
}

.bg-dark-50 {
  background-color: rgba(0, 0, 0, 0.49);
  transition: background-color 0.2s;

  &:hover {
    background-color: rgba(231, 129, 107, 0.8);
  }
}
