@charset 'utf-8';

@font-face {
  font-family: 'Bellefair';
  src: url('/src/assets/font/Bellefair-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('/src/assets/font/BarlowCondensed-Light.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('/src/assets/font/BarlowCondensed-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('/src/assets/font/BarlowCondensed-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}
