@charset "UTF-8";

@font-face {
  font-family: 'Jost';
  font-weight: 400;
  font-display: swap;
  src: url('../assets/fonts/Jost-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Jost';
  font-weight: 500;
  font-display: swap;
  src: url('../assets/fonts/Jost-Regular.woff2') format('woff2');
}
