<section class="section-hero position-relative max-w-1440px mx-auto">
  <div class="hero hero--service">
    <div class="container px-sm-0 hero__container">
      <div class="hero__wrapper">
        <h1 class="hero__heading">{{ hero.title }}</h1>
        <p class="hero__text">
          {{ hero.text }}
        </p>
      </div>
    </div>
  </div>
  <svg
    width="1006"
    height="594"
    class="position-absolute bottom-left-0 translate-y-83 z-n1 d-none d-lg-block"
    aria-hidden="true"
  >
    <use href="@images/sprite.svg#leaf" />
  </svg>
</section>
