<nav class="navbar" aria-label="main" data-expand="md">
  <div class="container navbar__container px-sm-0">
    <a href="/" aria-label="designo homepage">
      <img
        alt="designo logo"
        width="202"
        height="27"
        src="@images/shared/desktop/logo-dark.png?as=webp"
      />
    </a>
    <button
      class="navbar__toggle"
      aria-label="toggle menu"
      aria-controls="collapse"
      aria-expanded="false"
    >
      <svg class="navbar__i-hamburger" aria-hidden="true" width="24" height="20">
        <use href="@images/sprite.svg#hamburger" />
      </svg>
      <svg class="navbar__i-close" aria-hidden="true" width="20" height="20">
        <use href="@images/sprite.svg#close" />
      </svg>
    </button>
    <div class="navbar__collapse collapse" id="collapse">
      <ul class="navbar__list list-style-none">
        <li>
          <a class="navbar__link" href="/about">Our company</a>
        </li>
        <li>
          <a class="navbar__link" href="/locations">Location</a>
        </li>
        <li>
          <a class="navbar__link" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
