$primary-clr: hsl(14, 45%, 36%);
$secondary-clr: hsl(332, 51%, 32%);

$neutral-clr-100: hsl(0, 0%, 100%);
$neutral-clr-200: hsl(330, 100%, 98%);
$neutral-clr-300: hsl(30, 54%, 90%);
$neutral-clr-400: hsl(30, 18%, 87%);
$neutral-clr-500: hsl(30, 10%, 34%);
$neutral-clr-600: hsl(24, 5%, 18%);
