@use '../abstracts' as *;

.card {
  border-radius: 15px;
  overflow: hidden;

  &__wrapper {
    text-align: center;
    background-color: var(--clr-tertiary);
    padding: 32px 29px;
    transition: all 0.3s ease-in-out;
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: var(--clr-primary);
      }

      &:hover > * {
        color: var(--clr-white);
      }
    }
  }

  &__heading {
    font-size: px-to-rem(20);
    letter-spacing: 5px;
    color: var(--clr-primary);
    margin-bottom: 16px;
    text-transform: uppercase;
  }

  // media queries

  @include mq(md) {
    display: grid;
    grid-template-columns: 1fr 1fr;

    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  @include mq(lg) {
    grid-template-columns: none;
    grid-template-rows: 320px 1fr;
    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &__wrapper {
      flex-grow: 1;
      padding: 32px;
    }
  }
}
