@use '../abstract/functions' as *;
@use '../abstract/mixins' as *;
@use '../abstract/variables' as *;

.container,
.container-sm {
  --bs-gutter-x: 3rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
    padding-inline: 0;
  }
}

@media (min-width: 768px) {
  .container,
  .container-sm {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container,
  .container-sm {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1110px;
  }
  .container-sm {
    max-width: 1107px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
