html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  line-height: 1.4;
}
:root {
  --clr-grey-700: #333;
  --clr-grey-800: #1f1f1f;
  --clr-grey-900: #141414;
  --clr-green: #c4f823;
  --clr-light: #fff;
  --clr-dark: #000;
}
